<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.pocketBible" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pocket Bible</name>
    <description>Pocket Bible</description>
    <author email="skim1261@conestogac.on.ca" href="http://spy.com">
        Sangkwon Kim, Ettore Ciambra Sentore
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="splash.png"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
        <preference name="SplashScreenDelay" value="1000"/>
    </platform>
    <icon src="icon.png" />
</widget>
