<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Edit Meditation</h2>
    </div>
    <div class="card-body">
      <form [formGroup] = "MeditationForm">
        <div class="mb-3">
          <label for="txtTitle">Title</label>
          <input id="txtTitle" type="text" class="form-control"
                 name="txtTitle"
                 formControlName="_title"
          >
          @if (MeditationForm.controls['_title'].invalid) {
            @if (MeditationForm.controls['_title'].errors?.['required']) {
              <small class="text-danger">Title is required</small><br>
            }
          }
        </div>

        <div class="mb-3">
          <label for="txtBibleName">Bible</label>
          <input id="txtBibleName" type="text" class="form-control"
                 name="txtBibleName"
                 formControlName="_bible"

          >
        </div>
        <div class="mb-3">
          <label for="txtChapter">Chapter</label>
          <input id="txtChapter" type="number" class="form-control"
                 name="txtChapter"
                 formControlName="_chapter"

          >
        </div>
        <div class="mb-3">
          <label for="txtVerses">Verses</label>
          <textarea id="txtVerses" class="form-control"
                    name="txtBible" rows="4" cols="50"
                    formControlName="_verses"

          ></textarea>
        </div>
        <div class="mb-3">
          <label for="dtpDateOfMeditation">Date</label>
          <input id="dtpDateOfMeditation" type="datetime-local" class="form-control"
                 name="dtpDateOfMeditation"
                 formControlName="_date"

          >
        </div>
        <div class="mb-3">
          <label for="txtMeditation">Your Meditation about this verses</label>
          <textarea id="txtMeditation" class="form-control"
                    name="txtMeditation" rows="10" cols="50"
                    formControlName="_meditation"

          ></textarea>
          @if (MeditationForm.controls['_meditation'].invalid) {
            @if (MeditationForm.controls['_meditation'].errors?.['required']) {
              <small class="text-danger">Meditation is required</small><br>
            }
          }
        </div>
        <button [disabled]="MeditationForm.invalid" type="button" id="btnAdd" class="btn btn-primary" (click)="onUpdateClick()">Add</button>
      </form>
    </div>
  </div>
</div>
