<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h1>Find Scripture</h1>
    </div>
    <div class="card-body">
    <form class="row g-3 " #bibleForm="ngForm">
      <div class="col-md-2">
        <label for="selectedBible" class="form-label">Bible</label>
        <select id="selectedBible" name="selectedBible" class="form-select" [(ngModel)]="selectedName" (change)="onBibleChange()">
          <option value="Genesis">Genesis</option>
          <option value="Exodus">Exodus</option>
          <option value="Leviticus">Leviticus</option>
          <option value="Numbers">Numbers</option>
          <option value="Deuteronomy">Deuteronomy</option>
          <option value="Joshua">Joshua</option>
          <option value="Judges">Judges</option>
          <option value="Ruth">Ruth</option>
          <option value="1Samuel">1 Samuel</option>
          <option value="2Samuel">2 Samuel</option>
          <option value="1Kings">1 Kings</option>
          <option value="2Kings">2 Kings</option>
          <option value="1Chronicles">1 Chronicles</option>
          <option value="2Chronicles">2 Chronicles</option>
          <option value="Ezra">Ezra</option>
          <option value="Nehemiah">Nehemiah</option>
          <option value="Esther">Esther</option>
          <option value="Job">Job</option>
          <option value="Psalms">Psalms</option>
          <option value="Proverbs">Proverbs</option>
          <option value="Ecclesiastes">Ecclesiastes</option>
          <option value="Song of Songs">Song of Songs</option>
          <option value="Isaiah">Isaiah</option>
          <option value="Jeremiah">Jeremiah</option>
          <option value="Lamentations">Lamentations</option>
          <option value="Ezekiel">Ezekiel</option>
          <option value="Daniel">Daniel</option>
          <option value="Hosea">Hosea</option>
          <option value="Joel">Joel</option>
          <option value="Amos">Amos</option>
          <option value="Obadiah">Obadiah</option>
          <option value="Jonah">Jonah</option>
          <option value="Micah">Micah</option>
          <option value="Nahum">Nahum</option>
          <option value="Habakkuk">Habakkuk</option>
          <option value="Zephaniah">Zephaniah</option>
          <option value="Haggai">Haggai</option>
          <option value="Zechariah">Zechariah</option>
          <option value="Malachi">Malachi</option>
          <option value="Matthew">Matthew</option>
          <option value="Mark">Mark</option>
          <option value="Luke">Luke</option>
          <option value="John">John</option>
          <option value="Acts">Acts</option>
          <option value="Romans">Romans</option>
          <option value="1Corinthians">1 Corinthians</option>
          <option value="2Corinthians">2 Corinthians</option>
          <option value="Galatians">Galatians</option>
          <option value="Ephesians">Ephesians</option>
          <option value="Philippians">Philippians</option>
          <option value="Colossians">Colossians</option>
          <option value="1Thessalonians">1 Thessalonians</option>
          <option value="2Thessalonians">2 Thessalonians</option>
          <option value="1Timothy">1 Timothy</option>
          <option value="2Timothy">2 Timothy</option>
          <option value="Titus">Titus</option>
          <option value="Philemon">Philemon</option>
          <option value="Hebrews">Hebrews</option>
          <option value="James">James</option>
          <option value="1Peter">1 Peter</option>
          <option value="2Peter">2 Peter</option>
          <option value="1John">1 John</option>
          <option value="2John">2 John</option>
          <option value="3John">3 John</option>
          <option value="Jude">Jude</option>
          <option value="Revelation">Revelation</option>
        </select>
        <label for="selectedChapter" class="form-label">Chapter</label>
        <select id="selectedChapter" class="form-select"name="selectedChapter" [(ngModel)]="selectedChapter">
          @for (chapter of chaptercount; track $index ){
              <option value="{{chapter}}">{{chapter}}</option>
          }
        </select>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="onSearchClick()">Search</button>
        @if(selectedVerses.length >0){
          <button type="submit" class="btn btn-primary" (click)="onMeditateClick()">Go to Meditate</button>
        }
      </div>

    </form>
    </div>
    <div class="card-body">
      <ul class="list-group">
        @for(verse of bibleText; track $index){
          <li class="list-group-item" [class.active]="isSelected($index)" (click)="toggleVerseSelection(verse, $index)">{{$index+1}} {{ verse }}</li>
        }
      </ul>
    </div>
  </div>
</div>

